@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Gemeinsame Stile für Registrierungs- und Login-Seiten */
.App-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

.section-1 {
  width: 100%;
  max-width: 620px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

.section-1 h1,
.section-1 p,
.section-1 label {
  font-family: "Nunito", sans-serif;
}

.section-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo-login {
  width: 10rem;
  margin: auto;
}

.login {
  margin-top: -20px;
  margin-bottom: 20px;
}

.form-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
}

/* Stile für Input-Felder, Labels und Button */
.input-1[type="email"],
.input-1[type="password"],
.button-1 {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid black;
  width: 100%; /* Vollbreite für Input-Felder */
}

.input-1 {
  margin-bottom: 8px;
}

/* Stile für .input-label */
.input-label {
  display: flex;
  flex-direction: column;
  width: 100%; /* Vollbreite für Input-Felder und Labels */
}

.label-1 {
  padding-bottom: 5px;
}

.label-1,
.button-1 {
  margin-top: 1rem;
}

.button-1 {
  padding: 0.5rem;
}

/* Stile für Validierungsanweisungen */
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

/* Stile für Elemente, die nicht sichtbar sein sollen */
.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

/* Stile für Validierungsmarkierungen */
.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

/* Stile für Fehlermeldung */
.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

/* Stile für den Anmeldebutton */
.sign-in {
  background-color: #008060;
  transition: 0.5s ease;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.sign-in:hover {
  background-color: #00a47b;
}

/* Stile für das Ende der Registrierungs-/Login-Seite */
.register-end {
  text-align: center;
}
